<%= form_with model: post do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :movie_title %>
    <%= form.text_field :movie_title %>
  </div>
  <div>
    <%= form.label :blurb %>
    <%= form.text_field :blurb %>
  </div>
  <div>
    <%= form.label :date_released %>
    <%= form.date_field :date_released %>
  </div>
  <div>
    <%= form.label :origin_country %>
    <%= form.text_field :origin_country %>
  </div>
  <div>
    <%= form.label :showing_start %>
    <%= form.date_field :showing_start %>
  </div>
  <div>
    <%= form.label :showing_end %>
    <%= form.date_field :showing_end %>
  </div>
  <%= form.submit %>
<% end %>